body {
    margin: 0;
    padding-top: 90px;
    font-family: sans-serif;
}

.box__Menu {
    background-color: white;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: end;
    box-shadow: 0 0 7px gray;
    position: fixed;
    top: 0;
}

.img__LogoMenu {
    width: 90px;
    height: 70px;
    position: sticky;
    right: 92%;
}

.img__LogoMenu:hover {
    cursor: pointer;
}

.box__secundarioMenu {
    display: flex;
    align-items: center;
}

.texto__enlaceMenu {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-right: 50px;
    padding: 3px;
}

.texto__enlaceMenu:hover {
    text-decoration: underline;
}

.box__tenis {
    display: flex;
    box-sizing: border-box;
    margin: auto;
    width: 52%;
    margin-top: 10vh;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 0 5px gray;
}

.imagenes {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.img__teni {
    margin-top: 3.2%;
    margin-left: 10px;
    height: 50vh;
    width: 100%;
    margin-right: 1%;
    border-radius: 2px;
}

.box__informaciontenis {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 20em;
}

.texto__descripcion {
    padding: 5px;
    font-size: 11px;
}

.texto__informacion {
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    margin: 5%;
}

.texto__ubicacion {
    font-size: 12px;
    color: gray;
}

.texto__precio {
    font-size: 25px;
    font-weight: bold;
}

.box__tallasBoton {
    display: flex;
    flex-direction: column;
    margin: 2.5%;
    margin-top: 0;
}

.Tallas button {
    background-color: black;
    border: 2px solid #fff;
    color: lightgray;
    padding: 12px;
    cursor: pointer;
    margin-bottom: 5%;
    font-family: sans-serif;
    font-weight: bold;
    transition-property: background-color;
    transition-duration: 0.4s;
}

.Tallas button:hover {
    background-color: gray;
    color: black;
}

.button__agregarCarrito {
    font-family: sans-serif;
    font-size: 20px;
    width: 100%;
    height: 8vh;
    margin-top: 2%;
    background-color: black;
    color: lightgray;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 2px;
    transition-property: background-color;
    transition-duration: 0.4s;
}

.button__agregarCarrito:hover {
    background-color: gray;
    color: black;
    cursor: pointer;
}

footer {
    box-shadow: 0 0 10px gray;
    position: static;
    margin-top: 5%;
}

.Contactos {
    width: 100%;
    font-family: sans-serif;
}

.footer {
    width: 100%;
    margin: auto;
}

.footer-content {
    background-color: black;
    padding: 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-main {
    margin: 10px 20px;
}

.footer-main h2 {
    color: #ffffff;
    font-size: 1.8rem;
}

.footer-main p {
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1.3rem;
}

.social-links {
    margin: 15px 0px;
    display: flex;
    gap: 8px;
}

.social-links a {
    padding: 5px;
    background-color: #dbd8e3;
    border-radius: 5px;
    transition: 0.5s;
    text-decoration: none;
}

.social-links a:hover {
    opacity: 0.7;
}

.social-links a i {
    margin: 2px;
    font-size: 1.1rem;
    color: #201e1e;
}

.links {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.links p {
    font-size: 1.3rem;
    margin-bottom: 15px;
    font-weight: 600;
    color: #ffffff;
}

.links a {
    font-size: 0.8rem;
    text-decoration: none;
    margin-bottom: 15px;
    font-weight: 600;
    color: #dbd8e3;
    transition: 0.5s all;
}

.links a:hover {
    color: #303035;
}

.texto__contactos {
    font-size: 0.8rem;
    font-weight: 600;
    color: #dbd8e3;
    padding: 2.5% 0;
}

.box__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #201e1e;
    padding: 2%;
    border-radius: 2px;
}

.box__textoForm {
    color: white;
    font-size: 1rem;
    font-weight: 100;
    margin: 5% 0;
}

.txt__EmailForm {
    border-radius: 0;
    margin-bottom: 5%;
    height: 20px;
    outline: none;
}

.texto__terminosPrivacidad {
    color: white;
    margin-bottom: 5%;
    font-size: 12px;
}

.btn__registrarse {
    cursor: pointer;
    background-color: white;
    height: 15%;
    color: black;
    font-weight: bold;
    transition-property: background-color;
    transition-duration: 0.4s;
    border-radius: 0;
}

.btn__registrarse:hover {
    background-color: #201e1e;
    color: white;
    border: 0;
    box-shadow: 0 0 2.5px lightgray;
}