body {
    margin: 0;
    padding-top: 90px;
    font-family: sans-serif;
}

.box__Menu {
    background-color: white;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: end;
    box-shadow: 0 0 7px gray;
    position: fixed;
    top: 0;
}

.img__LogoMenu {
    width: 90px;
    height: 70px;
    position: sticky;
    right: 92%;
}

.img__LogoMenu:hover {
    cursor: pointer;
}

.box__tenis {
    width: 90%;
    display: flex;
    box-sizing: border-box;
    flex: wrap;
    margin: auto;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 0 5px gray;
    margin-bottom: 5%;
}

.imagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img__teni {
    width: 100%;
    height: 40vh;
    border-radius: 2px;
}

.box__informaciontenis {
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 50%;
    margin-left: 5%;
}

.texto__descripcion {
    padding: 5px;
    padding-right: 7%;
    font-size: 100%;
}

.texto__informacion {
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 0;
}

.texto__ubicacion {
    font-size: 12px;
    color: gray;
}

.texto__precio {
    font-size: 25px;
    font-weight: bold;
}
.tiempos_entrega div{
    font-weight: bold;
    font-size: 15px;
    font-family: sans-serif;
}
.imagen_estrellas {
    width: 90px;
    margin: 0;
}
.box__tallasBoton {
    display: flex;
    flex-direction: column;
}

.Tallas button {
    background-color: black;
    border: 2px solid #fff;
    color: lightgray;
    padding: 12px;
    cursor: pointer;
    margin-bottom: 2.5%;
    font-family: sans-serif;
    font-weight: bold;
    transition-property: background-color;
    transition-duration: 0.4s;
}

.Tallas button:hover {
    background-color: gray;
    color: black;
}

.button__agregarCarrito {
    font-family: sans-serif;
    font-size: 20px;
    width: 90%;
    height: 8vh;
    margin-top: 2%;
    background-color: black;
    color: lightgray;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 2px;
    transition-property: background-color;
    transition-duration: 0.4s;
    margin-bottom: 5%;
}

.button__agregarCarrito:hover {
    background-color: gray;
    color: black;
    cursor: pointer;
}

footer {
    box-shadow: 0 0 10px gray;
}

.footer-content {
    background-color: black;
    padding: 2.5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-links a {
    padding: 5px;
    background-color: #dbd8e3;
    border-radius: 5px;
    transition: 0.5s;
    text-decoration: none;
}

.social-links a:hover {
    opacity: 0.7;
}

.social-links a i {
    margin: 5%;
    font-size: 1.1rem;
    color: #201e1e;
}

.links {
    display: flex;
    flex-direction: column;
}

.links p {
    font-size: 1.3rem;
    margin-bottom: 5%;
    margin-top: 5%;
    font-weight: bold;
    color: #ffffff;
}

.links a {
    font-size: 0.8rem;
    text-decoration: none;
    margin-bottom: 15px;
    font-weight: bold;
    color: #dbd8e3;
    transition: 0.5s all;
    margin-left: 4%;
}

.links a:hover {
    color: #303035;
}

.texto__contactos {
    font-size: 0.8rem;
    font-weight: bold;
    color: #dbd8e3;
    padding: 2.5% 0;
    margin-left: 4%;
}

.box__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #201e1e;
    padding: 2%;
    border-radius: 2px;
}

.box__textoForm {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 5%;
}

.txt__EmailForm {
    border-radius: 0;
    margin-bottom: 5%;
    outline: none;
}

.texto__terminosPrivacidad {
    color: white;
    margin-bottom: 5%;
    font-size: 12px;
    font-weight: bold;
}

.btn__registrarse {
    cursor: pointer;
    background-color: white;
    height: 5vh;
    color: black;
    font-weight: bold;
    transition-property: background-color;
    transition-duration: 0.4s;
    border-radius: 0;
    border: 0;
    margin-bottom: 2.5%;
}

.btn__registrarse:hover {
    background-color: #201e1e;
    color: white;
    border: 0;
    box-shadow: 0 0 2.5px lightgray;
}

@media (max-width: 650px) {
    .box__tenis {
        flex-direction: column;
    }
}