@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");

body {
    font-family: sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.box__Menu {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 7px gray;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: 1000;
}

.img__LogoMenu {
    width: 90px;
    height: 70px;
}

.img__LogoMenu:hover {
    cursor: pointer;
}

.box__Menu2 {
    display: flex;
    align-items: center;
}

.item__menu {
    margin-right: 20px;
}

.texto__enlaceMenu {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s, background-color 0.3s;
}

.texto__enlaceMenu:hover {
    text-decoration: underline;
    
}

header {
    background-color: white;
    text-align: start;
    padding: 10px;
    margin-top: 100px;
    line-height: 1.4;
    margin-bottom: 30px;
    box-shadow: 0 0 5px gray;
}

header h1 {
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
}

header p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

section {
  margin-bottom: 10px;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 0 5px gray;
  color: #383737;
  line-height: 1.7;
  margin-bottom: 2.5%;
}


li {
  margin-bottom: 50px; 
}

li strong {
  display: block;
  margin-bottom: 5px;
  color: #000000;
  font-size: 20px;
}

li img {
  max-width: 50%;
  height: 30vh;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  float: right;
  margin-right: 70px;
}

#box__Pasos {
  display: inline-flex;
  flex-direction: column;
}

#Descripcion il {
  list-style: none;
  padding: 20px;
  
}

#Descripcion li {
  padding-left: 40px;
}


.box__tenis {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.link__teni {
  text-decoration: none;
  width: 17%;
}

.item__tenis {
  width: 100%;
  height: 21rem;
  box-shadow: 0 0 3px gray;
  transition: box-shadow 0.2s ease;
}

.item__tenis:hover {
  box-shadow: 0 0 0 1px black;
  cursor: pointer;
}

.box__centrarTenis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img__tenis {
  width: 50%;
  height: 11rem;
}

.texto__descripcionTenis {
  margin-top: 2px;
  margin-left: 11%;
  color: gray;
  font-family: sans-serif;
  font-size: 13px;
}

.texto__precio {
  color: black;
  font-weight: bold;
  font-size: 17px;
}

.box__contactos {
  background-color: black;
  width: 100%;
  height: 15rem;
}




footer{
    position: static;
    margin: 3px;

}
.Contactos {
  width: 100%;
}
.footer {
    width: 100%;
    margin: auto;
  }

.footer-content {
  background-color: black;
  padding: 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-main {
  margin: 10px 20px;
}
.footer-main h2 {
  color: #ffffff;
  font-size: 1.8rem;
}
.footer-main p {
  color: #ffffff;
  font-size: 0.8rem;
  line-height: 1.3rem;
}
.social-links {
  margin: 15px 0px;
  display: flex;
  gap: 8px;
}
.social-links a {
  padding: 5px;
  background-color: #dbd8e3;
  border-radius: 5px;
  transition: 0.5s;
  text-decoration: none;
}
.social-links a:hover {
  opacity: 0.7;
}
.social-links a i {
  margin: 2px;
  font-size: 1.1rem;
  color: #201e1e;
}
.links {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 40px 20px;
}
.links p {
  font-size: 1.3rem;
  margin-bottom: 15px;
  font-weight: 600;
  color: #ffffff;
}
.links a {
  font-size: 0.8rem;
  text-decoration: none;
  margin-bottom: 15px;
  font-weight: 600;
  color: #dbd8e3;
  transition: 0.5s all;
}
.links a:hover {
  color: #303035;
}
